
<div infinite-scroll="getNextPosts()" infinite-scroll-distance="0">
	<div class="post" ng-repeat="post in posts track by $index" ng-click="click(post.id)">
		<h2>{{post.title}}</h2>
		<div class="post-likes">
            <span class="post-dislike">-123</span>
            <span class="post-like">+543</span>
        </div>


		<img ng-src="{{post.images}}"/>

		<p>{{post.content}}</p>
                <div class="post-information">
                    <div class="post-tags">
                        <a href="">яркое</a>
                        <a href="">лето</a>
                        <a href="">зима</a>
                        <a href="">аксесуары</a>
                        <a href="">необычное</a>
                    </div>
                    <div class="post-author-date">
                        <span class="post-author"><a href="">{{post.author}}</a></span>
                        <span class="post-date">24.03.2016</span>
                    </div>
                </div>

	</div>
</div>	
